body{
  font-family: 'Satisfy', cursive;
   margin:0;
   padding:0;
   background: black;
}

.navigation{
   justify-content:top;
   color: white;
   transform: rotate(90deg);
   transform-origin: top;
   width: 200px;
   font-size: 2em;
   margin-top: 100px;
}

.navigation li {
  margin: 6px;
  padding: 6px;
  list-style: none;
  font-size:150%;
}

a{
  text-decoration:none;
}

.about{
  font-family:'Rock Salt', cursive;
  background: black;
  color: white;
  }

.brunchandlunch{
  font-family: 'Rock Salt', cursive;
  background: black;
  color: white;
}

.dessert{
  font-family: 'Rock Salt', cursive;
  background: black;
  color: white;
}

.dinner{
  font-family: 'Rock Salt', cursive;
  background: black;
  color: white;
}

.div1 {
  height: 4000px;
  background-color: black;
}

.div2 {
  height: 3000px;
  background-color: black;
}

.div3 {
  height: 2000px;
  background-color: black;
}

.div4 {
  height: 1000px;
  background-color: black;
}
